@import './sass/variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $ui-black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  @media all and (min-width: map-get($breakpoints, 'small')) {
    padding: 2rem;
  }
  @media all and (min-width: map-get($breakpoints, 'medium')) {
    padding: 2rem 9rem;
  }
  @media all and (min-width: map-get($breakpoints, 'large')) {
    padding: 2rem 15rem;
  }

  
}